
<div class="container w-50 my-3">
    <form method="post" asp-controller="ToDoTask" asp-action="DeleteTask">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Task Id</label>
            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="Id">

        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
